{% extends 'base.html.twig' %}

{% block body %}

<h1> Book </h1>

<table>
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ book.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ book.title }}</td>
        </tr>
        <tr>
            <th>Author</th>
            <td>{{ book.author }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ book.description }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>
                {% if book.imageUrl %}
                    <img src="http://localhost/storage/{{ book.imageUrl }}">
                {% else %}
                    No image
                {% endif %}
            </td>
        </tr>
    </tbody>
</table>
<a href="{{ path('book_list') }}">Back to the list</a>
<a href="{{ path('book_edit', { 'id': book.id }) }}">Edit</a> 
<a href="{{ path('book_delete', { 'id': book.id }) }}">Delete</a>
{% endblock %}
